# ------------ maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# ------------ SublimeText
*.sublime-workspace
*.sublime-project

# ------------ eclipse
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.project
.loadpath
*.launch
.buildpath

# ------------ Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode
.idea/
*.ipr
*.iws
*.iml
out/
.idea_modules/
*.class

# ------------ java
# Package Files #
*.jar
*.war
*.ear
